@font-face 
{
  font-family: SegoeUI;
  src:local("Segoe UI");
}

body{
	margin:0;
	width: 100%;
	min-height: 100vh;
	max-height: 500vh;
}

section
{
	color: #747675;
	font-family: SegoeUI, Sans-serif;
	background: #FFF;
	padding-top: 40px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 20px;
	word-wrap: break-word;
	min-height: 90vh;
	max-height: 490vh;
}

footer{
	position: absolute;
	background: #000;
	/*background: #0B5CFE;*/
	text-align: center;
	padding-top: 30px;
	width: 100%;
	min-height: 10vh;
	max-height: 10vh;
	
}

nav{
	padding-top: 5px;
	padding-left: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 12%;
    overflow: hidden;
	background: #000;
    /*background: #0B5CFE;*/
    position: fixed;
    top: 0;
	right: 0;
	left: 0;
    width: 100%;
	font-weight: bold;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

nav li {
    float: left;
}

nav ul a:before{
	content: "";
	position: absolute;
	width: 70%;
	height: 2px;
	bottom: 10px;
	left: 15%;
	background-color: #FFF;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	-o-transform: scaleX(0);
	-moz-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

nav ul a {
    display: block;
	position: relative;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul a:hover:before{
	visibility: visible;
	-webkit-transform: scaleX(1);
	-o-transform: scaleX(1);
	-moz-transform: scaleX(1);
	transform: scaleX(1);
}

#name{
	font-family: Segoe UI, Sans-serif;
	color: white;
	position: fixed;
	padding-top: 8px;
	padding-left: 20px;
}

#mentionsLegales{
	font-family: Segoe UI, Sans-serif;
	color: white;
}

nav a {
	text-decoration: none;
}

nav a:link, nav a:visited{
	color: white;
}

.grosTitre{
	color: #000;
	font-size: 140%;
	position: absolute;
	left: 25%;
    width: 50%;
    border-bottom: 2px solid #000;
}

.petitTitre{
	text-decoration: underline;
	color: #000;
	font-size: 120%;
}

.flex-container-presentation {
    display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: column;
    flex-direction: column;
}

.flex-item-presentation {
	
	padding: 20px;
	padding-right: 30px;
}

.flex-container-projets {
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
}

.flex-item-projets {
	padding-right: 30px;
	width: 25%;
	padding-top: 20px;
}

.noStyle:link, .noStyle:visited{
	color: #747675;
}

.liensPDF{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	padding: 2px;
	text-decoration: none;
	border: solid 2px black;
	background-color: #F8F8F9;
	color: #000;
}

.liensPDF:hover{
	background-color: #000;
	color: #FFF;
}

.linkImg{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	/*box-shadow: 5px 5px 5px #888888;*/
}

.linkImg:hover{
	opacity: 0.5;
}